<div class="p-5">
<h1>Result</h1>
<br>
<p>
  <% case @result %>
    <% when 1 %>
      <strong> Congratulations! </strong> <font style="text-transform: uppercase;"> <%= params[:word] %> </font>is a valid English word!
    <% when 2 %>
     Sorry but <font style="text-transform: uppercase; font-weight: bold;"><%= params[:word] %> </font> does not seem to be a valid English word!
    <% when 3 %>
      Sorry but <font style="text-transform: uppercase; font-weight: bold;"><%= params[:word] %> </font> can't be built out of <%= params[:letters] %>
    <% end %>
</p>
<br>
<%= link_to "Play again", new_path %>
</div>
