<h1>Result</h1>
<p>
  <% case @result %>
    <% when 1 %>
      <strong> Congratulations! </strong> <%= params[:word] %> is a valid English word!
    <% when 2 %>
     Sorry but <strong> <%= params[:word] %> </strong> does not seem to be a valid English word!
    <% when 3 %>
      Sorry but <strong> <%= params[:word] %> </strong> can't be built out of <%= params[:letters] %>
    <% end %>
</p>
<br>


<%= link_to "Try again", new_path %>
